{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{% endblock %}
{% block header %}<h1></h1>{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
           <div class="card">
                {% include 'includes/author_card.html' %}
           </div>
        </div> <!-- col -->

        <div class="col-md-9">
                <div class="container">
                        {% include "includes/post_item.html" with post=post %}
                </div>
                {% include "includes/comments.html" %}
        </div> <!-- col -->
    </div> <!-- row -->
</main>
{% endblock %}
