{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{% endblock %}
{% block header %}<h1></h1>{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    {{ author.get_full_name }}
                                </div>
                                <div class="h3 text-muted">
                                     @{{ author.username }}
                                </div>
                        </div> <!-- card body -->
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                                Подписчиков: {{ author.following.count }} <br />
                                                Подписан: {{ author.follower.count }}
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                                Всего постов: {{ post_count }}
                                        </div>
                                </li>
                        </ul>
                </div> <!-- card -->
        </div> <!-- col -->

        <div class="col-md-9">
                <div class="container">
                        {% include "includes/post_item.html" with post=post %}
                </div>
                {% include "includes/comments.html" %}
        </div> <!-- col -->
    </div> <!-- row -->
</main>
{% endblock %}
