<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}The Last Social Media You'll Ever Need | Yatube{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'posts/new_posts.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body>

    {% include 'includes/nav.html' %}

    <main style="padding-top: 60px;">
        <div class="container">
            {% block header %}<h1>The Last Social Media You'll Ever Need</h1>{% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include 'includes/footer.html' %}

</body>

</html>
