{% extends 'base.html' %}
{% load cache %}
{% block header %}<h1>Последние обновления на сайте</h1>{% endblock %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% cache 20 index_page %}
    <div class="container">
        {% include "includes/menu.html" with index=True %}

        {% for post in page %}
            {% include "includes/post_item.html" with post=post %}
        {% endfor %}

    </div>
    {% endcache %} 

{% include "includes/paginator.html" with items=page paginator=paginator%}    


{% endblock %}
