{% extends 'base.html' %}
{% load cache %}
{% block header %}<h1>Последние обновления на сайте</h1>{% endblock %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}

    <div class="container">
        {% include "includes/menu.html" with index=True %}
        {% cache 20 index_page page request.user.username %}
            {% for post in page %}
                {% include "includes/post_item.html" with post=post %}
            {% endfor %}
        {% endcache %}
    </div>

{% include "includes/paginator.html" with page=page paginator=paginator %}    

{% endblock %}
