{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профиль {{ author.username }}{% endblock %}
{% block header %}<h1>Профиль пользователя {{ author.username }}</h1>{% endblock %}
{% block content %}
<main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                {% include 'includes/author_card.html'%}
                <li class="list-group-item">
                        {% if following %}
                        <a class="btn btn-lg btn-light" 
                                href="{% url 'posts:profile_unfollow' author.username %}" role="button"> 
                                Отписаться 
                        </a> 
                        {% else %}
                        <a class="btn btn-lg btn-primary" 
                                href="{% url 'posts:profile_follow' author.username %}" role="button">
                        Подписаться 
                        </a>
                        {% endif %}
                    </li>
                </div>
            </div> <!-- col -->

            <div class="col-md-9">
                <div class="container">
                        {% for post in page %}
                            {% include "includes/post_item.html" with post=post %}
                        {% endfor %}
                </div>
                
            </div> <!-- col -->
        </div> <!-- row -->

{% include "includes/paginator.html" with items=page paginator=paginator%}    

</main>

{% endblock %}
